
$header-background: #0D2450;
$logo-color:white;
$footer-background:white;
$anchor-color:black;
$body-background-color:#E8F1FF;

$background:white;
$button: #1770F9;
$input-border: #1770F9;
$boxparent:white;
$image-section-background: #A7A7A7;
$bottom-box-heading-color: #0A1D41;
$bottom-box-subheading-color:#1770F9;
$bottom-box-text-color:#292929;
$modal-color:white;