

$font-family:'Source Sans Pro', sans-serif;
$hashout:14px;
$copyright:14px;
$submitbutton:16px;
$box-heading:18px;
$box-text:16px;
$bottom-box-heading:36px;
$bottom-box-subheading:20px;
$bottom-box-text:18px;