@import 'clear-fix';
@import 'reset-css';
@import 'font';
@import 'color';

.header{
    background-color: $header-background;

    &__logo-container{
        margin:0 auto;
        max-width:1372px;
        width:calc(100% - 72px);
        font-weight:bolder;
    }
    &__logo{
        padding-top:20px;
        padding-bottom: 20px;
        color:$logo-color;
    }
}
