html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

.clearfix {
    overflow: auto; }
  
.clearfix::after {
    content: "";
    clear: both;
    display: table; }

header{
    background-color: #0D2450;
}
footer{
    background-color: #FFFDFD;;
}
body{
    background : linear-gradient(180deg, #F4F5F9 0%, rgba(244, 245, 249, 0) 100%);
    position: relative;
}

.header-content{
   margin: 0 auto;
   max-width: 1225px;
   width: 100%
}

.header-logo{
    width: 161.67px;
    height: 20px;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}

main{
    margin: 0 auto;
    max-width: 1225px;
    width: 100%;
}

.form-container{
  width: 48%;
  float: left;
}

.cards-container{
    width: 50%;
    float: left;  
    perspective: 700px;
}

.bg-cards{
    float: left;
}

.text-message{
    font-family: Source Sans Pro;
    font-size: 15px;
    line-height: 26px;
    color: #292929;
}

.form-box{
    margin-top: 342px;
}

.input-box{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #1770F9;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 20px;
}

input:focus{
    outline: 1px solid #1770F9;
    box-sizing: border-box;
    border-radius: 8px !important;
}

.sumButton{
    width: 197px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #1770F9;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 20px;
}

.checkbox-design{
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 28px;
    float: left;
}

.text-message-2{
    font-family: Source Sans Pro;
    font-size: 15px;
    line-height: 26px;
    color: #292929;
    margin-top: 21px;
    margin-left: 27px;
}

.vertical-block-1{
    width: 100%;
    padding-left: 20px;
    margin-top: 100px;
    float: left;
}

.vertical-block-2{
    width: 100%;
    padding-left: 20px;
    width: 100%;
    float: left;

}

.cards{
    margin-left: 36px;
    width: 270px;
    height: 277px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    float: left;
}

.cards-2{
    margin-top: 60px;
    width: 270px;
    height: 277px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    float: left;
    margin-left: 16px; 
}

.card-img{
    padding-top: 32px;
    padding-left: 20px;
    width: 100%;
    float: left;
}

.card-text-header{
    float: left;
    width: 100%;
    margin-left: 24px;
    margin-top: 26px;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #0A1D41;
}

.card-text{
    float: left;
    font-family: Source Sans Pro;
    padding: 10px 10px 10px 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #292929;
    margin-top: 17px;
    margin-left: 13px;
}

.card1{
   padding: 10px 10px 10px 10px ; 
   width: 50%;
}

.samll-box{
    background:  linear-gradient(101.4deg, #A7A7A7 0%, rgba(219, 219, 219, 0.56) 60.29%);
    opacity: 0.5;
    border-radius: 10px;
    width: 597px;
    height: 370px;
    background-color: #292929;
}

@media only screen and (min-width : 600px) and (max-width: 900px) {
    body {
      background-color: lightblue;
    }

    .header-logo{
        margin-left: 7px;
    }
    .form-container{
        width: 98%;
        padding-left: 7px;
        margin-top: 10px;
    }
    .cards-container{
        width: 98%;
        padding-left: 7px;
        margin-top: -70px;
    }
    .form-box{
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .input-box{
        width: 90%;
    }
    .cards{
        width: calc(48% - 20px);
        padding-left: 0px;
        margin-left: 24px;
    }
    .cards-2{
        width: calc(48% - 20px);
        margin-top: 0%;
       
    }
    .vertical-block-1{
        width: 98%;
        margin-left:0px;
        padding-left: 0px;
    }
    .vertical-block-2 {
        width: 98%;
        margin-top: 20px;
        margin-left:0px;
        padding-left: 0px;
    }

    .big-card1{
        width : 100%
    }
  
  }

  @media only screen and (min-width : 900px) and (max-width: 1200px) {
    body {
      background-color: lightblue;
    }

    .header-logo{
        margin-left: 7px;
    }
    .form-container{
        width: 98%;
        padding-left: 7px;
        margin-top: 10px;
    }
    .cards-container{
        width: 98%;
        padding-left: 7px;
        margin-top: -70px;
    }
    .form-box{
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .input-box{
        width: 90%;
    }
    .cards{
        width: calc(90% - 20px);
        padding-left: 0px;
        margin-left: 24px;
    }
    .cards-2{
        width: calc(90% - 20px);
        margin-top: 25px;
        margin-left: 24px;
       
    }
    .vertical-block-1{
        width: 98%;
        margin-left:0px;
        padding-left: 0px;
    }
    .vertical-block-2 {
        width: 98%;
        margin-top: 20px;
        margin-left:0px;
        padding-left: 0px;
    }

    .big-card1{
        width : 83% !important;
        margin-left: 18px;
    }
  
  }

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    .big-card1{
        width: 100%;
    }

    .header-logo{
        margin-left: 7px;
    }
    .form-container{
        width: 98%;
        padding-left: 7px;
        margin-top: 10px;
    }
    .cards-container{
        width: 98%;
        padding-left: 4px;
        margin-top: -70px;
    }
    .card-text-header{
        font-size: 13px;
        margin-top: 15px;
    }
    .card-text{
        font-size: 12px;
    }

    .form-box{
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .input-box{
        width: 90%;
    }
    .cards{
        width: calc(48% - 14px);
        padding-left: 0px;
        margin-left: 8px;
    }
    .cards-2{
        width: calc(48% - 20px);
        margin-top: 0%;
       
    }
    .vertical-block-1{
        width: 98%;
        margin-left:0px;
        padding-left: 0px;
    }
    .vertical-block-2 {
        width: 98%;
        margin-top: 20px;
        margin-left:0px;
        padding-left: 0px;
    }
    .big-card1{
        width: 85% !important;
        height: auto;
        margin-left: 14px;
    }

  }

footer{
    margin-top: 30px;
    height: 100px;
    background: #FFFDFD;
}

.footer-block{
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
}

.left-part{
    width: 50%;
    max-width: 700px;
    float:left;
}
.right-part{
    width: 500px;
    float : right;
    padding-top: 36px;
}

.part1{
    width: 100%;
    margin-top: 26px;
    float :left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

.part2{
    float :left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}
.part4{
    float: right;
    margin-top: 5px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 28px;
    margin-left: 48px;
    color: #000000;
}

.big-cards{
    margin-top: 30px;
}

.window{
    width:100%;
    height: 300px;
    background: linear-gradient(101.4deg, #A7A7A7 0%, rgba(219, 219, 219, 0.56) 60.29%);
    opacity: 0.5;
    border-radius: 10px;;
}

.big-card1{
   width:  46%;
   background: linear-gradient(180deg, #F4F5F9 0%, rgba(244, 245, 249, 0) 100%);
   height: 600px;
   padding: 10px 10px 10px 10px;
   float: left;
   margin-right : 28px
}

.big-card2{
    width:  46%;
    background: linear-gradient(180deg, #F4F5F9 0%, rgba(244, 245, 249, 0) 100%);
    height: 600px;
    padding: 10px 10px 10px 10px;
    float: left;
    margin-left: 30px;
 }

.bgc-header{
    font-family: Source Sans Pro;
    width: 100%;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #0A1D41;
    margin-top: 15px;
}

.bgc-head{
    margin-top: 10px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1770F9;
}

.bgc-details{
    font-family: Source Sans Pro;
    font-size: 18px;
    line-height: 30px;
    color: #292929;
    margin-top: 15px;
}
