/* global colors */



$header-color: #0D2450;
$link-checker-color: #FFFFFF;

$main-color: #FFFFFF;



$experience-section-color: #090909;

$experience-section-color2:#292929;


$button-color : #1770F9;



$section-color :#FFFFFF;

$card-background : #FFFFFF;


$card-title-color :#000000;

$card-subtitle-color : #090909;

$report-color : #000000;


$dribble-color : #1770F9;



$check-status-color : grey;

$time-text-color : #000000;




