@import './colors';

                   body {
                    margin:0 auto;
                    max-width:1500px;

                    
                }

                body {
                    background: linear-gradient(180deg, #F4F5F9 0%, rgba(244, 245, 249, 0) 100%);
                }

               header {

                 background-color: $header-color;
                 max-width: 1440px;

               }

               header {

                   margin: 0 auto;
                  
               }

               .clearfix::after {
               content: "";
               clear: both;
               display: table;
                 }

               .linkChecker {

                   float:left;
                   width: 87.53;
                   color:$link-checker-color;
                  
               }

               .linkChecker {

                 display: inline;
                 font-size: 20px;
                 padding: 1.25rem 3rem;
               }


               .linkExpire {

                   float: right;
                   width: auto;
                   color: $link-checker-color;
               }
               .linkExpire {
                   display: inline;
                   padding: 1.25rem 3rem;
               }

               main {

                 background: #FFFFFF;
               }

legend {
font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 46px;
color: #0A1D41;
              }

 .formTopic {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;

color: #292929;
}

input[type="email"] {

    background: #FFFFFF;
    border: 1px solid #1770F9;
    box-sizing: border-box;
    border-radius: 8px;
}

input[type="url"] {

    background: #FFFFFF;
    border: 1px solid #1770F9;
    box-sizing: border-box;
    border-radius: 8px;
}
input[type="checkbox"] {

    background: #FFFFFF;
    border: 1px solid #1770F9;
    box-sizing: border-box;
    border-radius: 8px;
}
input[type="submit"] {

    background: #FFFFFF;
    border: 1px solid #1770F9;
    box-sizing: border-box;
    border-radius: 8px;
}

input[name="submit"] {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.11em;
text-transform: uppercase;
color: #1770F9;

padding: 20px 67px 20px 60px;
}

.modelcontent {
    /*
    background-color: rgba(10,10,10,0.6); */
text-align:center;
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
border-radius: 8px;
    }
   

.model-Title {
font-style: normal;
font-weight: 300;

line-height: 54px;
text-align: center;
color: #090909;
    }

.model-Subtitle {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modelcontent {

    /* max-width: 500px; */
    /* margin: 0 auto; */
    text-align: center;
    background: #FFF;
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.05);
    box-shadow: 0 4px 10px rgba(0,0,0,.05);
    border-radius: 8px;
    position: absolute;
    width: 100%;
    max-width: 816px;
   
    left: calc(50% - 408px);
    top: calc(50% - 151px) !important;
    z-index: 1;
    padding: 10px;
}

.model-background {

    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(10,10,10,0.6);
}

body {

    position: relative;


}
