html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header{
    background-color: #0D2450;
    color:white;
    padding: 15px;

}
.header-right{
    float : right;
    font-size:17px;
}
.header-left{
    font-size:20px;
    float:left;
}
footer{
    float:bottom;
    background-color:white;
    bottom:0%;
    width:100%;
    padding:20px;
    position: fixed;
}
body{
    background-color:#E8F1FF;
}
.copy-right{
    color: #00000080;
    font-size: 14px;
}
.hashout{
    color:#00000080;
    font-size: 14px;
    font-style: italic;
}
.clearfix {
    overflow: auto;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
main{
    margin:0 auto;
    max-width:1344px;
    width: calc(100% - 72px);
}
.result-box{
    float:left;
    margin-top:200px;
    align-items: inline;
    background:white;
    border:1px;
    padding-top:24px;
    padding-left:24px;
    padding-bottom: 24px;
    border-radius: 8px;
    font-family: Source Sans Pro;
    font-size: 24px;
    margin-right:24px;
    width:calc(25% - 42px);
}
.result-box:last-child {
    margin-right: 0;
}

 /* p:nth-child(2) {
    background: #ff0000;
  }*/
