
$mybackground: #0D2450;
$mybodybackgroud: #E8F1FF;
$mycardcolor: #000000;
$myInfocolor : #FFFFFF;
$mytextcolor : #929292;
$headerbgcolor : #0D2450;
$footerbgcolor : #FFFDFD;
$bodybgcolor :#E8F1FF;
$rectanglebgcolor :#E8F1FF;
$crads2boxshadow : rgba(0, 0, 0, 0.05);
$infobannershadow:rgba(0, 0, 0, 0.2);
$cardbottomcolor:#090909;
$maincolor :#1770F9;
$graphblockshadow :rgba(0, 0, 0, 0.05)
