

$header-background: #0D2450;
$header : white;
$body-background:#E8F1FF;
$footer-background:white;
$anchor-color:black;
$section-background:white;
$button:#1770F9;
$border:#1770F9;
$box-shadow: rgba(0, 0, 0, 0.05);
$main-text: #090909;
$paragraph-text: #292929;
