


$header-right :17px;
$header-left: 20px;
$footer-right :14px;
$footer-left: 20px;
$footer-link : 14px;
$result-box:24px;
$visit-button:16px;
$text-line1: 32px;
$text-line2:16px;
$text-report:32px;
$text-complete:16px;
$link-summary:24px;
$number:60px;
$drop-down:16px;
$font-family:'Source Sans Pro', sans-serif;