@import './color' ;
@import './font';
@import './reset_css';
@import './clear-fix';

*{
    font-family: $font-family;
}


header{
    margin:0 auto;
    background-color: $header-background;
    color: $header;
}
.header-right{
    float : right;
    font-size:$header-right;
    padding: 20px 50px 20px 0px;
}
.header-left{
    font-size:$header-left;
    float:left;
    padding: 17px 0px 17px 49px;
}
.footer-right{
    float : right;
    font-size:$footer-right;
    margin:36px 48px;
}

.footer-left{
    font-size:$footer-left;
    float:left;
}
.terms-condition{
    margin-right:48px;
}
a:link, a:active{
    color:$anchor-color;
    text-decoration: none;
    
}
footer{
    background-color: $footer-background;
}
body{
    background-color:$body-background;
}
.copyright{
    color: $anchor-color;
    font-size: $footer-link;
    margin-top:26px;
    margin-left:51px;
    padding:1px;
}
.hashout{
    color:$anchor-color;
    font-size: $footer-link;
    font-style: italic;
    margin-left:51px;
    margin-top:2px;
    padding:1px;

}
.clearfix {
    overflow: auto;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
main{
    margin:0 auto;
    max-width:1344px;
    width: calc(100% - 72px);
    position:relative;
}
.result-box{
    float:left;
    background:$section-background;
    border:1px;
    padding-top:24px;
    padding-left:24px;
    padding-bottom: 24px;
    border-radius: 8px;
    font-size: $result-box;
    margin-right:24px;
    width:calc(25% - 42px);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}
.result-box:last-child {
    margin-right: 0;
}
.bottom-section-item1{
    margin: 66px 47px 57px 0px;
    float:left;
}

.bottom-section-item2{
    margin: 83px 54px 83px 0px ;
    float:right;
}
.bottom-section{
    margin-top:50px;
    margin-bottom:50px;
    padding-left:47px;
    background:$section-background;
    border:1px;
    border-radius: 8px; 
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}
.visit-button{
    font-weight: bold;
    padding:20px 44px 20px 44px;
    font-size:$visit-button;
    color: $button;
    border:1px solid $border;
    border-radius: 8px;
    background:$section-background;
}
.bottom-section-line1{
    font-weight: bold;
    font-size: $text-line1;
    font-weight: bold;
    color: $main-text;
}
.bottom-section-line2{
    font-size: $text-line2;
    color: $paragraph-text;
    margin-top:11px;
}
.top-section{
    margin: 62px auto 30px auto;
}
.top-section-1{
    float:left;
}
.top-section-2{
    float:right;
}
.top-section-report{
    font-weight: bold;
    font-size: $text-report;
    margin-bottom:9px;
}
.top-section-complete{
    font-size: $text-complete;
}
.chart-section{
    background: $section-background;
    margin-bottom:36px;
    height:311px;
    border:1px;
    border-radius: 8px; 
}
.link-summary{
    padding:24px;
    font-size:$link-summary;
}
.down-narrow{
    box-sizing: border-box;
    border-radius: 8px;
    margin-right:10px;
}
.link-image{
    border: 1px solid $border;
    padding:26px 28px 20px 20px;  
    border-radius: 8px;
}
.number{
    font-size:$number; 
    font-weight: bold;
}
.drop-down{
    position:absolute;
    background:$section-background;
    border:1px;
    border-radius: 8px; 
    box-shadow: 0px 0px 25px $box-shadow;
    font-size: $drop-down;
    padding:20px 18px;
    left: 1100px;
    top: 75px;
}
.summary{
    float:right;
    margin-bottom: 20px;
}
.report{
    float:right;
}
 /* p:nth-child(2) {

    background: #ff0000;
  }*/
